<template>
  <footer class="bg-background-footer text-on-footer py-10 shadow-footer">
    <div class="grid font-bold">
      <p class="inline-flex justify-center mb-1">
        <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'code' }" class="h-6 w-6 mx-3" />
        con
        <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'heart' }" class="h-6 w-6 mx-3" />
        por Pewen y publico en
        <a class="h-6 w-6 mx-3" href="https://gitlab.com/pewen" target="_blank">
          <font-awesome-icon :icon="{ prefix: 'fab', iconName: 'gitlab' }" class="" />
        </a>
      </p>

      <p class="text-center">
        Esta obra está bajo una
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>
      </p>
    </div>
  </footer>
</template>
