<template>
  <header class="hidden relative sm:flex sm:flex-col bg-background-navbar text-on-navbar shadow-navbar-l p-6">
    <div class="fixed" style="width: 150px;">
      <!-- Logo -->
      <div class="pt-4 pb-6">
        <span class="text-2xl">Logo</span>
      </div>

      <nav class="flex flex-col">
        <nuxt-link to="/" class="text-white font-semibold text-xl rounded pb-3 hover:bg-gray-800">
          <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'home' }" class="mr-3"/>
          Inicio
        </nuxt-link>
        <nuxt-link to="/mapa" class="text-white font-semibold text-xl rounded pb-3 hover:bg-gray-800">
          <font-awesome-icon :icon="{ prefix: 'fas', iconName: 'map-marked' }" class="mr-3"/>
          Mapa
        </nuxt-link>
      </nav>
    </div>
  </header>
</template>
