/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

:root {
  --background-navbar: #11283f;
  --text-on-navbar: white;

  --background-footer: #6200ee;
  --text-on-footer: white;

  --background-body: #e5e5e5;
  --text-on-body: black;
  --text-on-home: white;
}
