<template>
  <div class="block sm:grid sm:grid-cols-navbar-left min-h-screen">
    <NavbarTop class="block sm:hidden" />
    <NavbarLeft />

    <div class="overflow-auto text-on-body">
      <nuxt />
      <TheFooter />
    </div>
  </div>
</template>

<script>
import NavbarTop from '~/components/TheNavbarTop.vue'
import NavbarLeft from '~/components/TheNavbarLeft.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
  components: {
    NavbarTop,
    NavbarLeft,
    TheFooter
  },
  mounted () {
    this.$store.dispatch('fetchData')
  }
}
</script>
