<template>
  <div>
    <NavbarTop />

    <div class="text-on-body">
      <nuxt />
    </div>

    <TheFooter />
  </div>
</template>

<script>
import NavbarTop from '~/components/TheNavbarTop.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
  components: {
    NavbarTop,
    TheFooter
  },
  mounted () {
    this.$store.dispatch('fetchData')
  }
}
</script>
