<template>
  <div id="banner" class="min-w-full min-h-full container px-6 text-on-home" style="padding-top: 20%;">
    <h1 class="text-3xl">
      Map-web
    </h1>

    <p class="text-xl">
      Una web app moderna y simple para visualizar datos geo-referenciados
    </p>
  </div>
</template>

<script>
export default {
  layout: 'left'
}
</script>

<style scoped>
#banner {
  background: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url("/banner.jpg") no-repeat center center fixed;
  background-size: cover;
}
</style>
