<template>
  <section class="container p-6">
    <h2 class="text-3xl">
      Datos geo-referenciados
    </h2>

    <p class="text-xl mb-4">
      Mapeando datos desde un excel
    </p>

    <div id="map" />
  </section>
</template>

<script>
import { mapState } from 'vuex'
import * as L from 'leaflet'
import 'mapbox-gl-leaflet'
import 'leaflet.markercluster'

// let L
// if (process.isClient) {
//   L = require('leaflet')
//   require('mapbox-gl-leaflet')
// }

export default {
  data () {
    return {
      map: null
    }
  },
  computed: {
    ...mapState(['config', 'data'])
  },
  watch: {
    data () {
      this.drawMap()
    }
  },
  mounted () {
    if (this.data.length > 0) {
      this.drawMap()
    }
  },
  methods: {
    async drawMap () {
      this.map = L.map('map', {
        maxZoom: 18
      }).setView(this.config.map.coords, this.config.map.zoom)

      L.mapboxGL({
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        accessToken: 'not-needed',
        style: this.config.map.url
      }).addTo(this.map)

      const markers = L.markerClusterGroup()

      // Add the markers
      for (const row of this.data) {
        const markerOptions = {}

        // Marker custom icon
        if (row.icono !== '') {
          const iconUrl = `/map-web/icons/${row.icono}`
          const iconSize = await this.getIconSize(iconUrl)

          const customIcon = L.icon({
            iconUrl,
            iconSize
          })

          markerOptions.icon = customIcon
        }

        // Marker popup
        let popup = ''
        Object.keys(row).forEach((key) => {
          if (this.config.map.popup.includes(key)) {
            popup += `<strong>${key}:</strong> ${row[key]} </br>`
          }
        })

        const marker = L.marker([+row.latitud, +row.longitud], markerOptions)
          .bindPopup(popup)

        if (this.config.map.cluster) {
          markers.addLayer(marker)
        } else {
          marker.addTo(this.map)
        }
      }

      if (this.config.map.cluster) { this.map.addLayer(markers) }
    },
    getIconSize (src) {
      return new Promise((resolve, reject) => {
        const img = new Image()
        img.onload = () => resolve([img.width, img.height])
        img.onerror = reject
        img.src = src
      })
    }
  }
}
</script>

<style scoped>
#map {
  width: 100%;
  height: 75vh;
}
</style>
